package ${package.Entity};

import cn.xiaoniu.cloud.server.web.entity.BaseEntity;
import lombok.*;
import lombok.experimental.Accessors;

/**
 * <p>$!{table.comment} 实体类</p>
 * <p>创建时间:${date}</p>
 * <p>公司信息:Developed By KongMing </p>
 *
 * @author ${author}
 */
@Getter
@Setter
@Builder
@EqualsAndHashCode
@NoArgsConstructor
@AllArgsConstructor
@Accessors(chain = true)
@ToString(callSuper = true)
public class ${entity} extends BaseEntity {

    private static final long serialVersionUID = 1L;
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})
#if("$!field.comment" != "")
    /**
     * ${field.comment}
     */
#end
    private ${field.propertyType} ${field.propertyName};
#end
## ----------  END 字段循环遍历  ----------
}
