package ${package.Mapper};

import ${package.Entity}.${entity};
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;

import java.util.List;

/**
 * <p>$!{table.comment} DAO 接口</p>
 * <p>创建时间:${date}</p>
 * <p>公司信息:Developed By KongMing</p>
 *
 * @author ${author}
 */
@Mapper
public interface ${table.mapperName} {

    /**
     * 保存数据
     *
     * @param entity
     * @return
     */
    int saveEntity(@Param("entity") ${entity} entity);

    /**
     * 批量保存数据
     *
     * @param entities
     * @return
     */
    int saveEntities(@Param("entities") List<${entity}> entities);

    /**
     * 逻辑删除数据
     *
     * @param id
     * @return
     */
    int deleteById(@Param("id") Long id);

    /**
     * 逻辑删除数据
     *
     * @param entity
     * @return
     */
    int deleteByEntity(@Param("entity") ${entity} entity);

    /**
     * 物理删除数据
     *
     * @param id
     * @return
     */
    int removeById(@Param("id") Long id);

    /**
     * 物理删除数据
     *
     * @param entity
     * @return
     */
    int removeByEntity(@Param("entity") ${entity} entity);

    /**
     * 更新数据
     *
     * @param entity
     * @return
     */
    int updateEntityById(@Param("entity") ${entity} entity);

    /**
     * 更新数据
     *
     * @param entity
     * @param record
     * @return
     */
    int updateEntityByPO(@Param("entity") ${entity} entity,@Param("record") ${entity} record);

    /**
     * 获取数据
     *
     * @param id
     * @return
     */
    ${entity} findById(@Param("id") Long id);

    /**
     * 获取一条数据
     *
     * @param entity
     * @return
     */
    ${entity} findOne(@Param("entity") ${entity} entity);

    /**
     * 获取最新的一条数据 , 通过ID倒叙实现
     *
     * @param entity
     * @return
     */
    ${entity} findLastOne(@Param("entity") ${entity} entity);

    /**
     * 根据指定字段名和值获取数据
     *
     * @param fieldName  字段名
     * @param fieldValue 字段值
     * @return
     */
    <T> List<${entity}> findByFieldName(@Param("fieldName") String fieldName, @Param("fieldValue") T fieldValue);

    /**
     * 根据指定字段名和值获取最后一条数据
     *
     * @param fieldName  字段名
     * @param fieldValue 字段值
     * @return
     */
    <T> ${entity} findLastOneByFieldName(@Param("fieldName") String fieldName, @Param("fieldValue") T fieldValue);

    /**
     * 获取数量
     *
     * @param entity
     * @return
     */
    long countByEntity(@Param("entity") ${entity} entity);

    /**
     * 批量获取通过ID
     *
     * @param ids
     * @return
     */
    List<${entity}> listByIdIn(@Param("ids") List<Long> ids);

    /**
     * 列表获取数据
     *
     * @param entity
     * @return
     */
    List<${entity}> listByEntity(@Param("entity") ${entity} entity);

    /**
     * 分页获取数据
     *
     * @param entity
     * @return
     */
    List<${entity}> pageByEntity(@Param("entity") ${entity} entity);
}
